*{
    padding: 0;
    margin: 0;
}


header{
    background-color: rgb(148, 148, 152);
    text-align: center;
    height: 7vh;
    width: 100vw;
}

footer{
    background-color: rgb(134, 134, 134);
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100vw;
}
